<div layout-padding flex>
  <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
    <div flex-gt-xs="50">
      <mat-card>
        <mat-card-title>PublicSoft - Login</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="autenticar();">
            <div layout="row">
              <mat-form-field>
                <input matInput placeholder="Email" type="text" name="email" formControlName="email"/>
                <mat-icon matPrefix>person</mat-icon>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Senha" type="password" name="password" formControlName="password"/>
                <mat-icon matPrefix>lock</mat-icon>
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="autenticar()">Entrar</button>
            </div>
          </form>
        </mat-card-content>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>