/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/theming';
// @import '~@covalent/core/theming/all-theme';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @include mat-core();

.mat-form-field {
	width: 300px;
}

@media only screen and (min-width : 1280px) {
	.mat-card {
		margin: 3rem 12rem;
		transform: translatey(3rem);
	}
}

@media only screen and (min-width: 1367px) {
	.mat-card {
		transform: translatey(6rem);
	}
}

.mat-toolbar {
	background: #0cb8f3 !important;
	color: white;
}

.mat-sidenav{
	background: #0cb8f3 !important;
	color: white !important;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.mat-nav-list {
	background: #0cb8f3 !important;
	color: white !important;
	width:15rem;
}

.footer {
	background: #0cb8f3 !important;
	color: white;
	height: 2.5rem;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.text-center {
	text-align: center;
}

.bg-transparent {
	background: transparent !important;
}